<h1>Game Plays over time</h1>
<div class="container">
    <div id="game-{{game.id}}" *ngFor="let game of games.items; let i = index" class="tile" (click)="onClick($event, game)"
    [@upDown]="{value: game.states, params:{ moveUpHeight: game.moveUpHeight, moveDownHeight: game.moveDownHeight }}" 
    >
        <div class="name">
            <span>{{game.name}}</span>
        </div>
        <div class="image">
            <img class="cover" src="{{game.image[0]}}" />
        </div>

        <div class="bar" style="width:{{game.width}}%; background-color:{{game.color}}">
        </div>
        <div class="plays">
            <span>{{game.plays}}({{game.rank}})</span>
        </div>
    </div>
</div>